body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.survey-btn {
    margin-top: 20px;
}

.survey {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50; /* Green color, adjust as needed */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
   
}

.survey:hover {
    background-color: #45a049; /* Darker green for hover effect, adjust as needed */
}